<header>
    <a href="/"><img src="/fotos/Ãconos/Logotipo.png" alt="Logotipo"></a>
    <nav class="nav">
        <div class="divheaderadmin">
            <a href="./administrador">Admin.</a>
            <a href="./reservas">Reservas</a>
        </div>
        <h1>
            Administrador
        </h1>
    </nav>
</header>