{{>header}}

<div>
    <ul>
        <center>
        <img src="/fotos/Íconos/Logotipo1.png" alt="Imagen cabaña">
        <li><h3>{{nombre}} {{apellido}}, tu consulta fue enviada con éxito</h3></li>
        <li><h3>{{mail}}</h3></li>
        </center>
        
    </ul>
</div>