{{>header}}

<div class="divTurismo">
	<h1>Conocé nuestros alrededores...</h1> 
	<div > 
		<ul class="listadesp">
			<h2>Lugares a visitar</h2>
				<a target="_blank" href="https://www.google.com/maps/dir/'-33.045153,-69.065210'/-33.0500084,-69.0659767/@-33.045278,-69.065333,15z/data=!4m8!4m7!1m5!1m1!1s0x0:0xa7828682a5902958!2m2!1d-69.06521!2d-33.045153!1m0?hl=es">Río Mendoza</a>
				<a target="_blank" href="https://goo.gl/maps/uy1AeBZb7q9EuaA68">Dique Potrerillos</a>
				<a target="_blank" href="https://goo.gl/maps/3DPJqaCKsoDJoe3q7">La Crucesita</a>
				<a target="_blank" href="https://goo.gl/maps/jVMauo48BmRgEUU48">El Salto</a>
				<a target="_blank" href="https://goo.gl/maps/RNuoXaHfDaVzDg5p6">Vallecitos</a>
				<a target="_blank" href="https://goo.gl/maps/phMCpLmxuKa2rJgSA">Termas de Cacheuta</a>
				<a target="_blank" href="https://goo.gl/maps/phMCpLmxuKa2rJgSA">Puente colgante</a>
				<a target="_blank" href="https://goo.gl/maps/CNvvqoLQpkGqZrFr6">Puente del Inca</a>
		        <a target="_blank" href="https://goo.gl/maps/kcbqZHeFt6UjuAJt6">Parque Prov. Aconcagua</a>
		</ul>	

			<ul class="listadesp">
				<h2>Trekking</h2>
				<a target="_blank" href="https://goo.gl/maps/XecYrkmYbzHUaviL6">Cascada de los Berros</a>
				<a target="_blank" href="https://goo.gl/maps/VWXnDG15pNkWRBzY8">Cerro Comisión</a>
				<a target="_blank" href="https://goo.gl/maps/ktLZim6B87Mu9BPB6">Cerro Camello Sur</a>
				<a target="_blank" href="https://www.google.com/maps/place/Campanario+de+La+Crucesita/@-32.9592467,-69.051344,11z/data=!4m19!1m13!4m12!1m4!2m2!1d-68.775115!2d-32.8805841!4e1!1m6!1m2!1s0x967de70576cb68d1:0x90096b579da5ebb8!2scerro+campanario!2m2!1d-69.0501716!2d-32.9885308!3m4!1s0x967de70576cb68d1:0x90096b579da5ebb8!8m2!3d-32.9885308!4d-69.0501716">Cerro Campanario</a> 
				<a target="_blank" href="https://goo.gl/maps/i1zXgpY96QeUThnN6">Cascada del Ángel</a>
		    	<a target="_blank" href="https://goo.gl/maps/RNuoXaHfDaVzDg5p6">Vallecitos</a>

			</ul>	

			<ul class="listadesp">
				<h2>Gastronomía</h2>
				<a target="_blank" href="https://goo.gl/maps/yAkAuqmyTwkWYcwT9">Entre Dos</a>
				<a target="_blank" href="https://goo.gl/maps/J8NfFsF1vyVcwLjZ9">Pimienta Negra</a>
				<a target="_blank" href="https://goo.gl/maps/8K8Kz7nW3GNG6Ggj6">Rincón Suizo</a>
				<a target="_blank" href="https://goo.gl/maps/FawywXgG6NSHaotF8">El Coirón</a>
				<a target="_blank" href="https://goo.gl/maps/Ww3f7sa3qogPFoUq8">Aires de Fuego</a>
				<a target="_blank" href="https://goo.gl/maps/ka67ocbiRGnZYVf99">El Origen de I</a>
			</ul>	
   </div> 


<div class="divIcons">
    <img src="" alt="">
</div>

</div>

        


{{>footer}}